<form (submit)="addTodo(inputRef.value, $event); inputRef.value = '';" class="todo__form">
  <div class="form-group">
    <div class="form-input__leading-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M14 6V4h-4v2h4zM4 8v11h16V8H4zm16-2c1.11 0 2 .89 2 2v11c0 1.11-.89 2-2 2H4c-1.11 0-2-.89-2-2l.01-11c0-1.11.88-2 1.99-2h4V4c0-1.11.89-2 2-2h4c1.11 0 2 .89 2 2v2h4z" fill-rule="evenodd"/>
      </svg>
    </div>
    <input
      autofocus
      class="form-input__input"
      #inputRef
      required>
    <button class="form-submit">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
      </svg>
    </button>
  </div>
</form>
<ul class="todo__list">
  <li
    *ngFor="let todo of todos$ | async"
    class="todo__list-items"
    [class.todo__list-items--deleted]="deletedTodoId === todo.id">
    {{ todo.title }} 
    <button (click)="deleteTodo(todo.id)" class="todo__list-delete">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
    </button>
  </li>
</ul>